// clearfix
%clearfix {
	&:after {
		content: " ";
		display: block;
		clear: both;
	}
}

// reset for list
%listreset {
	margin: 0;
	padding: 0;
	list-style: none;
}

// hide text
@mixin hide-text {
	overflow: hidden;
	text-indent: -9999px;
}

// placeholder
@mixin placeholder {
	&.placeholder {@content}
}
